/* Estilo do container da barra de pesquisa */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Estilo do input */
.search-bar input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 1rem;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo do botão */
.search-bar button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4facfe;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #008cba;
}
