body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container principal */
.app {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 350px;
  color: white;
}

/* Título */
.app h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilo para feedback de erro */
.error {
  color: #ff6b6b;
  font-size: 0.9rem;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .app {
    width: 90%;
    padding: 15px;
    border-radius: 10px;
  }

  .app h1 {
    font-size: 1.8rem;
  }
  .search-bar input {
    width: 70%;
    padding: 8px;
  }

  .search-bar button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

  .weather-info .temperature {
    font-size: 2.5rem;
  }

  .weather-info .city {
    font-size: 1.3rem;
  }

  .weather-info .description {
    font-size: 1rem;
  }

  .weather-info .weather-icon {
    width: 80px;
    height: 80px;
  }
}

/* Para tablets e dispositivos com largura até 900px */
@media (max-width: 900px) {
  .app {
    width: 80%;
  }

  .search-bar input {
    width: 75%;
  }

  .weather-info .temperature {
    font-size: 2.8rem;
  }
}
